<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  <br><br><br><br><br>
  <div>Hi {{ user.username }}!</div>
  <p>
    Ini adalah <strong>Dashboard</strong> VirtualRun<br><br>
    Klik Tombol <strong>Connect</strong> untuk bisa melakukan koneksi dengan Strava terlebih dahulu untuk bisa melihat data aktivitas Anda.
  </p>

  <a href="https://www.strava.com/oauth/authorize?client_id=76097&redirect_uri=http://127.0.0.1:8000/authstrava&response_type=code&scope=activity:read_all" class="btn btn-primary btn-lg" role="button" aria-disabled="true">Connect</a>

  <div>
    <a href="https://www.strava.com/api/v3/athlete/activities?access_token=472e36016b4410c7aa051ebe664c9e0bb8956f8c" class="btn btn-primary btn-lg" style="margin-top: 20px;">My Activity</a>
    
    <a href="{% url 'activity' %}" class="btn btn-primary btn-lg " style="margin-top: 20px;" >Activity Database</a>
  </div>


{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a>
{% endif %}

<br><br><br><br>
<a href="{% url 'logout' %}">Log Out</a>

{% endblock %}