<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<p>Selamat datang di website VIRTUALRUN</p>
<p> Di sini Anda bisa berlari dari kenyataan sepuasnya untuk menghilangkan beban hidup</p>

{% if user.is_authenticated %}
    <a href="{% url 'logout' %}">Log In</a>
{% else %}
  <a href="{% url 'login' %}">Log In</a>
{% endif %}
{% endblock %}