{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<h2>Log In</h2>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit" class="btn btn-warning btn-lg" role="button" aria-disabled="true">Log In</button>
</form>
{% endblock %}

